* {
  margin: 0;
}
html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: black;
  cursor: none !important;
}
canvas#game {
  display: block;
  position: relative;
  z-index: 100;
  cursor: none !important;
}
canvas#minimap {
  position: absolute;
  top: 100px;
  left: 100px;
  width: 250px;
  height: 250px;
  z-index: 101;
  pointer-events: none;
  cursor: none !important;
}